<img src = "https://cdn.dribbble.com/users/537878/screenshots/14460329/media/c24ef002dd434140b73afda430f31baa.gif" 
     style = "float:right; width:400px; height:300px;">
    <h1 style="font-size:300%;">
        Welcome, DQSquad!
    </h1>
    <p style="font-size:160%;">
        Python - Pilot Class 1 : Variable, I/O and Data Type
    </p>
    <br>
        <br>
            <p style="font-size:110%;">
                Ladies and gentlemen, welcome onboard Flight <b>Python - Pilot Class</b> 
                with service from DQSquad to Data Practitioner. 
                We ask that you please fasten your determination at this time and secure all disturbance around you. 
                This time, to start your first flight, you will fly through the world of variables and its datatype, input -   
                output (I/O) and many more in Pythonverse. 
                So, please turn on all personal laptops, pc or tablet and make sure that you have internet connection.
            </p>
            <br>
                <p style="font-size:110%;">
                     Thank you for choosing Pilot Class with DQlab.
                     Enjoy your flight!
                </p>
            </br>
        </br>
    </br>
</img>

---

### 1. Input

Fungsi <b><i>input()</i></b> digunakan ketika user ingin memasukan sebuah nilai secara bebas ke dalam sebuah variabel. Keluaran (*return*) dari fungsi <b><i>input()</i></b> adalah nilai yang dimasukan user dengan format string (*str*).

Bentuk umum penggunaan input pada python: `nama_variabel = input('<teks>')`

<b><i>input</i></b> ([prompt])
    
    Deskripsi
    ---------
    Fungsi input memungkinkan user untuk memasukan sebuah nilai pada program
    
    Parameter
    ---------
    prompt : str (opsional)
        Jika argumen pada parameter prompt ada atau terdefinisi, 
        maka akan muncul pada output tanpa baris baru (newline) 
    
    Contoh
    ------
    >>> dqsquad = input('Input nama dqsquad : ') 
    
    Return
    ------
    nilai yang dimasukan user dalam bentuk atau format string
    
*docs : https://docs.python.org/3/library/functions.html#input*

In [3]:
input('Input nama dqsquad: ')

'Jhonny'

### 2. Output
Untuk menampikan suatu objek pada python dapat menggunakan fungsi <b><i>print()</i></b>. Fungsi print memiliki beberapa parameter baik parameter mandatory (yang wajib ada) seperti teks atau objek yang ingin ditampilkan, maupun parameter opsional (boleh diinisialisasi maupun tidak) seperti sep, end, file dan flush.

***print*** *(\*objects, sep = ' ', end = '\n', file = sys.stdout, flush = False)*
    
    Deskripsi
    ---------
    
    Mencetak atau menampilkan objek/variabel/teks yang dipisahkan 
    oleh parameter sep dan diakhiri oleh parameter end. 
    
    Parameter
    ---------
    *object : str (mandatory)
        Parameter *objects mewakili sejumlah argumen/teks yang berubah-ubah. 
        Ini memungkinkan untuk memanggil fungsi print() sejumlah input
        yang diinisialisasikan oleh user
    
    sep : str, default = '' (opsional)
        Parameter pemisah sep bertindak sebagai pemisah jika fungsi print()
        dipanggil dengan beberapa nilai. Secara default, ini disetel string kosong, ' '.
    
    end : str, default = '\n' (opsional)
        Parameter end menentukan string/karakter di mana nilai yang dicetak berakhir.
        Secara default, ini adalah jeda baris (newline / enter) dengan simbol '\n'.
        
    file : object dengan write(str) method, default = sys.stdout (opsional)
        Parameter file menentukan ke mana fungsi print() mengirimkan output. 
        Gunakan file.write(...) jika ingin mengganti setelan default
        Secara default, ia mengirimkan output ke konsol.
    
    flush : bool, default = False (opsional)
        Flushing dengan Python berarti mem-flush buffer aliran keluaran. 
        Jika user ingin mem-flush aliran keluaran saat mencetak, 
        Anda perlu menyetel argumen flush = True dalam pemanggilan fungsi print()
    
    Contoh
    ------
    >>> print('Hello, DQSquad!)
    ... Hello, DQSquad!
    
    >>> print(1, 2, 3)
    ... 1 2 3
    
    >>> print(1, 2, 3, sep = '-')
    ... 1-2-3
    
    >>> print('DQSquad')
    >>> print('ini langkah awal yang hebat')
    ... DQSquad
    ... ini langkah awal yang hebat
    
    >>> print('DQSquad', end = ' ')
    >>> print('ini langkah awal yang hebat')
    ... DQSquad ini langkah awal yang hebat!
        
    Return
    ------
    None
"""

*docs : https://docs.python.org/3/library/functions.html#print*

In [4]:
# Mencetak 1 objek
print('Hello DQWorld!')

Hello DQWorld!

In [5]:
# DQChallange 1 : Mencetak dan menampilkan teks pada konsol 
print('Langkah awal untuk memulai semangatmu, coba keluarkan kalimat ini!')

Langkah awal untuk memulai semangatmu, coba keluarkan kalimat ini!

In [7]:
# Mencetak beberapa objek
print('Hello', 'DQWorld!', '2022')

Hello DQWorld! 2022

In [9]:
# Mencetak beberapa objek
print('Hello', 'DQWorld!', '2022', sep = '-')

Hello-DQWorld!-2022

### 3. Variabel

Variabel adalah wadah untuk menyimpan nilai data. Variabel dibuat saat pertama kali ditetapkan nilai padanya.
Variabel yang dibuat pertama kali perlu untuk diinisialisasi nilainya atau biasa disebut proses *assignment*.
Proses assignment dapat langsung diinisialisasi pada sintaks atau bisa juga dengan menggunakan fungsi input() jika user menginginkan nilai variabel yang bersifat bebas.

Bentuk umum *assignment* pada variabel adalah `nama_variabel = nilai_variabel`

Operator *assignment* dilambangkan dengan simbol sama dengan ( = ).
Simbol ( = ) adalah operator yang digunakan untuk menetapkan nilai ke variabel pada Python
dengan pembacaan dari kanan ke kiri.

Variabel dapat diberi nilai (<i>assignment</i>) sebuah angka, huruf/kata, True/False (nilai boolean) atau yang lainnya.

Untuk menampilkan/mencetak nilai pada sebuah variabel dapat menggunakan fungsi <b><i>print()</i></b>

In [12]:
# Inisialisasi langsung nilai pada variabel
x = 1

In [13]:
# Mencetak nilai variabel dengan fungsi print
print(x)

1

In [14]:
# Opsi 1 : Mencetak nilai variabel dengan fungsi print diiringi dengan teks
print('Nilai x adalah: ', x)

Nilai x adalah:  1

In [15]:
# Opsi 2 : Mencetak nilai variabel dengan fungsi print diiringi dengan teks dengan formatted string literal
print(f"Nilai x adalah: {x}")

Nilai x adalah: 1

In [16]:
# Opsi 3 : Mencetak nilai variabel dengan fungsi print diiringi dengan teks
print("Nilai x adalah: {}".format(x))

Nilai x adalah: 1

In [20]:
# Assignment variabel dengan fungsi input()

Masukan sebuah nilai : DQLab
Nilai yang anda input adalah DQLab

In [12]:
# Mencetak dua variabel secara langsung

Nilai x adalah 1 sedangkan nilai y adalah 2

In [18]:
# Mencetak dua variabel secara langsung

Nilai x adalah 1 sedangkan nilai y adalah 2

In [9]:
# Mencetak dua variabel secara langsung

1 titik, 2 koma
Mau belajar data analitik? DQLab pilihannya

Proses <i>assignment</i> juga dapat dilakukan untuk memberi nilai pada variabel lain.

In [14]:
# Assignment sebuah variabel ke variabel lain

Nilai x = 1 dan y = 1

In [17]:
# DQChallenge 2 : Diagnosa kesalahan (error)!
a = 1
a = b

print(f'Nilai x = {a} dan y = {b}')

NameError: name 'b' is not defined

In [2]:
# DQChallenge 3 : Fill the blank to get same output!

... = ...('Masukan nilai ... = ')
print(f'Nilai ... yang diinputkan adalah ... = {...}')

Masukan nilai x = 22/7
Nilai x yang diinputkan adalah x = 22/7

### 4. Tipe Data

Tipe data (<i>data type</i>) adalah sebuah pengklasifikasian data berdasarkan jenis data tersebut. Tipe data dibutuhkan agar kompiler dapat mengetahui bagaimana sebuah data akan digunakan atau dioperasikan.

Tipe data pada python dibagi menjadi dua :
1. <b>Tipe Data Dasar</b>
    <br>Tipe data numerik (<i>integer</i>, <i>float</i>, dsb), boolean (<i>True</i> atau <i>False</i>), karakter (<i>string</i>) atau bilangan kompleks (<i>complex</i>) merupakan tipe data dasar pada bahasa pemrograman python</br>
2. <b>Tipe Data Sequential</b>
    <br>Tipe data ini digunakan untuk menyimpan data dalam sebuah wadah dalam bahasa Python, contoh : <i>list, dictionary, tuple dan set</i></br>
 
Untuk memeriksa tipe data pada sebuah variabel dapat menggunakan fungsi <i><b>type('\<nama_variabel\>')</b></i>

In [10]:
# Menginisialisasi nilai pada variabel x


# Periksa tipe data variabel x

<class 'str'>

In [8]:
#Tipe data 1 : Integer (bilangan bulat)

Tipe data variabel m = 3 adalah : <class 'int'>

In [9]:
#Tipe data 2 : Float (bilangan real)

Tipe data variabel n = 3.0 adalah : <class 'float'>

In [13]:
#Tipe data 2 : Float (bilangan real - dengan notasi basis 10)

Tipe data variabel o = 0.00035 adalah : <class 'float'>

In [11]:
#Tipe data 3 : String (susunan dari beberapa karakter)
#String selalu diapit oleh tanda petik

Tipe data variabel p = 3 adalah : <class 'str'>

In [12]:
#Tipe data 4 : Complex (bilangan kompleks, a + bj dengan j = sqrt(-1))

Tipe data variabel q = (3+4j) adalah : <class 'complex'>

In [ ]:
# DQChallenge 4 : Periksa tipe data dari hasil user-input!
... = input(...)
print(f'Tipe data variabel ... = {...} adalah : {...}')

### 5. Konversi Tipe Data

Tipe data pada sebuah variabel dapat diubah dari aslinya dengan syarat variabel yang akan di konversi tipe datanya sesuai. Untuk mengubah suatu variabel dengan tipe data tertentu menjadi tipe data yang diinginkan gunakan fungsi berikut :

1. int('\<nama_variabel\>')   : untuk mengubah tipe data variabel menjadi integer / bil. bulat
<br><i>docs : https://docs.python.org/3/library/functions.html#int</i></br>
2. float('\<nama_variabel\>') : untuk mengubah tipe data variabel menjadi float / bil. real
<br><i>docs : https://docs.python.org/3/library/functions.html#float</i></br>
3. str('\<nama_variabel\>')   : untuk mengubah tipe data variabel menjadi string
<br><i>docs : https://docs.python.org/3/library/functions.html#func-str</i></br>
4. bool('\<nama_variabel\>')   : untuk mengubah tipe data variabel menjadi boolean
<br><i>docs : https://docs.python.org/3/library/functions.html#bool</i></br>

Namun, yang perlu diperhatikan adalah tidak semua variabel dengan tipe data tertentu dapat dengan mudah diubah tipe datanya.

In [3]:
#Inisialisasi variabel dengan tipe data awal string


#Konversi tipe data awal menjadi integer

Nilai x = 3 dengan tipe data awal <class 'str'>
Nilai x = 3 dengan tipe data yang telah diubah <class 'int'>

In [4]:
#Inisialisasi variabel dengan tipe data awal float


#Konversi tipe data awal menjadi string

Nilai y = 3.14 dengan tipe data awal <class 'float'>
Nilai y_konversi = 3.14 dengan tipe data yang telah diubah <class 'str'>

### 5. Operasi pada Variabel

Variabel dapat juga dilakukan proses operasi baik operasi perhitungan maupun operasi yang lain. Berikut merupakan operasi variabel yang valid atau dapat dilakukan pada bahasa pemrograman Python

1. Operasi Aritmatika
<br> Operasi aritmatika hanya berlaku pada satu atau lebih variabel dengan tipe data numerik seperti float, int maupun bilangan kompleks.</br>

<img src="http://lam-programming.weebly.com/uploads/2/3/3/2/23323570/screenshot-2018-12-11-11-57-08_orig.png" alt="alternatetext">

In [13]:
# Inisialisasi variabel


# Cetak hasilnya

Hasil dari 5 * 3 = 15

In [18]:
# Inisialisasi variabel

# Cetak hasilnya

Hasil dari mod(11, 3) = 2

In [20]:
# DQChallenge : True Syntax, but error?

# Inisialisasi parameter
a = 1
b = -3

# Hitung nilai c dengan rumus berikut
c = (a+b)/(b+3*a)

# Cetak hasilnya
print(f"Hasil dari perhitungan adalah {c}")

ZeroDivisionError: division by zero

2. Operasi String
<br>String hanya dapat dioperasikan dengan sesama string menggunakan operator ( + ) untuk menggabung (<i>concatenate</i>) satu string dengan yang lain atau dapat juga dioperasikan dengan integer menggunakan operator ( * ) untuk melipatgandakan string sebanyak bilangan integer yang diinisialisasikan</br>

In [1]:
# Inisialisasi variabel


# Tampilkan hasil

PilotClass

In [16]:
# Inisialisasi variabel

# Tampilkan hasil

PythonPilotClasswithDQLab

In [6]:
# Inisialisasi variabel


# Tampilkan hasil

PilotPilotPilotPilotPilot

---
<p>
<img src="https://cdn.dribbble.com/users/1166566/screenshots/3861413/media/ec79ff3bd10f1da54104a86313c6fcbd.gif" style="float:right;width:300px;height:225px;">
    <h1 style="font-size:5vw">Black Box Challenge #1!</h1>
    <br>
        <br>
            Definisikan sebuah variabel (misalkan nama variabelnya <i>pi</i>) dan inisialisasikan nilainya menjadi 22/7. 
            Lalu tampilkan nilai variabel tersebut pada konsol, maka output yang mungkin keluar adalah 3,142857142857143.
        </br>
        <br>    
            Namun dapatkah kamu menampilkan nilai variabel tersebut dengan mengontrol banyak angka dibelakang koma? 
            misal hanya menampilkan 2 angka dibelakang koma saja menjadi 3,14?
        </br>
    </br>
</p>

In [10]:
# Inisialisasikan variabel
pi = 22/7

# Tampilkan hasilnya
print(f"Nilai dari pi = {pi}")

Nilai dari pi = 3.142857142857143

In [11]:
# Expected output : Tampilkan 2 angka dibelakang koma pada variabel yang telah diinisialisasi
print("%.2f" % pi)

3.14


<p>
<img src = "https://i.graphicmama.com/blog/wp-content/uploads/2016/12/06085800/fast_company_lab.gif" style="float:left;width:400px;height:300px;">
    <h1 style="font-size:5vw">Black Box Challenge #2!</h1>
    <br>
        <br>
           Buatlah sebuah program, dimana user menginputkan sembarang bilangan bulat positif dimana hasil inputan merupakan representasi dari detik, lalu konversikan hasil input menjadi format jam - menit - detik.           
        </br>
    </br>
</p>

In [2]:
seconds = input('...')

seconds = int(seconds) % (24 * 3600)
hour = seconds // 3600
seconds %= 3600
minutes = seconds // 60
seconds %= 60

time = "%d:%02d:%02d" % (hour, minutes, seconds) 
timeSpilited = time.split(":")
...

print(f'Hasil konversi {seconds} detik adalah {timeSpilited[0]} jam {timeSpilited[1]} menit {timeSpilited[2]} detik')

Hasil konversi 30 detik adalah 2 jam 28 menit 30 detik

<br><h4 align="right"> to be continued : <i>The Sky is the Limit - Conditions and Loops</i></h4></br>

---
copyright DQLab Â© 2022